<a href="https://colab.research.google.com/github/GitMishka/Colab_Eng_pract/blob/main/10_21_21_schema_creator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /usr/local/lib/python3.10/dist-packages (2.9.9)

In [2]:
import psycopg2
from random import randint, choice
from datetime import date, time
from string import ascii_letters

In [8]:
db_params = {
    'dbname': 'colab_db',
    'user': 'misha',
    'password': '',
    'host': 'mishasdb.postgres.database.azure.com',
    'port': '5432'
}

In [4]:
def random_string(length=10):
    return ''.join(choice(ascii_letters) for _ in range(length))

In [5]:
def random_date():
    return date(randint(2000, 2023), randint(1, 12), randint(1, 28))

In [6]:
def random_time():
    return time(randint(0, 23), randint(0, 59))

In [10]:
connection = psycopg2.connect(**db_params)
cursor = connection.cursor()

In [11]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS table_one (
    id SERIAL PRIMARY KEY,
    location VARCHAR(100),
    height FLOAT,
    weight FLOAT,
    description TEXT
);
''')
for _ in range(100000):
    cursor.execute("INSERT INTO table_one (location, height, weight, description) VALUES (%s, %s, %s, %s)",
                   (random_string(), randint(150, 210)/100, randint(50, 150), random_string(50)))

NameError: ignored

In [ ]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS table_two (
    id SERIAL PRIMARY KEY,
    color VARCHAR(50),
    brand VARCHAR(50),
    size VARCHAR(10),
    notes TEXT
);
''')
for _ in range(100000):
    cursor.execute("INSERT INTO table_two (color, brand, size, notes) VALUES (%s, %s, %s, %s)",
                   (random_string(7), random_string(10), random_string(5), random_string(50)))

In [ ]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS table_three (
    id SERIAL PRIMARY KEY,
    date DATE,
    time TIME,
    duration INTEGER,
    details TEXT
);
''')
for _ in range(100000):
    cursor.execute("INSERT INTO table_three (date, time, duration, details) VALUES (%s, %s, %s, %s)",
                   (random_date(), random_time(), randint(1, 480), random_string(50)))

In [ ]:
connection.commit()
cursor.close()
connection.close()