<a href="https://colab.research.google.com/github/GitMishka/Colab_Eng_pract/blob/main/10_20_2023_db_random_data_gen.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install psycopg2

In [ ]:
import psycopg2
from random import randint, choice
from string import ascii_letters

# Database connection parameters - You'll need to update these to match your setup
db_params = {
    'dbname': 'your_db_name',
    'user': 'your_username',
    'password': 'your_password',
    'host': 'localhost',
    'port': '5432'
}

In [ ]:

def random_string(length=10):
    return ''.join(choice(ascii_letters) for _ in range(length))

connection = psycopg2.connect(**db_params)
cursor = connection.cursor()

cursor.execute('''
CREATE TABLE IF NOT EXISTS my_table (
    id SERIAL PRIMARY KEY,
    name VARCHAR(100),
    age INTEGER,
    score FLOAT,
    comments TEXT
);
''')

In [ ]:
for _ in range(100000):
    name = random_string()
    age = randint(18, 99)
    score = randint(0, 100) + randint(0, 99) / 100.0  # random float between 0 and 100
    comments = random_string(50)
    cursor.execute("INSERT INTO my_table (name, age, score, comments) VALUES (%s, %s, %s, %s)",
                   (name, age, score, comments))

connection.commit()
cursor.close()
connection.close()